.selectable-blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #227B94;
}

.item-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #227B94;
}

.block {
  width: 45%;
  height: 200px;
  background-color: #78B7D0;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.block:hover {
  background-color: #78B7D0;
}

.block.selected {
  background-color: #78B7D0;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.block h4 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  background-color: #78B7D0;
}

.block p {
  margin: 0;
  font-size: 1rem;
  background-color: #78B7D0;
}

@media screen and (max-width: 768px) {
  .block {
    width: 100%;
    height: 150px;
  }
}
